
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: #f5f5f5;
}

.logout-link {
  color: var(--gray-900);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.voltar_menu-link {
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
